<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test.freecourse">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Set true to run on Gear Watch device -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp"></activity>
        <!-- Display JSON List Item Activity -->
        <activity
            android:label="Display"
            android:name="com.android.test.freecourse.Display" >
        </activity>
        <activity
            android:label="Detail"
            android:name="com.android.test.freecourse.Detail" >
        </activity>
    </application>

</manifest>